@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

.contact-cards {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 24px;
}